<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-typo3-7timer-extension" >
	<tr>
		<td>
			<f:translate key="tx_typo37timerextension_domain_model_configuration.label" />
		</td>
		<td>
		{configuration.label}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_typo37timerextension_domain_model_configuration.lon" />
		</td>
		<td>
		{configuration.lon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_typo37timerextension_domain_model_configuration.lat" />
		</td>
		<td>
		{configuration.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_typo37timerextension_domain_model_configuration.type" />
		</td>
		<td>
		{configuration.type}
		</td>
	</tr>
</table>
</html>
