<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <div id="ext7timer_container">
        <div id="ext7timer_preloader">
            <div class="ext7timer_preloader_ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="ext7timer_text">
                Please wait 7Timer! is currently loading...
            </div>
        </div>
        <div id="ext7timer_error" class="ext7timer_hide">
            <div class="ext7timer_text">
                An Error Occured!
            </div>
            <button id="ext7timer_reconnect" class="ext7timer_button" onclick="reconnect()">
                Refresh
            </button>
        </div>
        <div id="ext7timer_content" class="ext7timer_hide">
            <div id="ext7timer_day_content"></div>
            <div id="ext7timer_date_picker"></div>
            <div id="ext7timer_city_label">
                <f:format.raw>{configuration.label}</f:format.raw>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    </script>
    <script>
        const date = new Date()

        let hour = date.getHours()

        setInterval(() => {
            hour = date.getHours()
            updateBackground()
        }, 1000*30);

        updateBackground()

        function updateBackground() {
            const contentParent = document.getElementById('ext7timer_content')
            if(hour > 6 && hour < 18) {
                contentParent.classList.remove('ext7timer_night_background')
                contentParent.classList.add('ext7timer_day_background')
                return
            }
            contentParent.classList.remove('ext7timer_day_background')
            contentParent.classList.add('ext7timer_night_background')
        }
    </script>
    <script>
        const timezoneUrl = 'http://api.geonames.org/timezoneJSON?lng=<f:format.raw>{configuration.lon}</f:format.raw>&lat=<f:format.raw>{configuration.lat}</f:format.raw>&username=eliteschw31n'
        const url = 'http://www.7timer.info/bin/api.pl?lon=<f:format.raw>{configuration.lon}</f:format.raw>&lat=<f:format.raw>{configuration.lat}</f:format.raw>&product=civil&output=json'
        const preloaderParent = document.getElementById('ext7timer_preloader')
        const errorParent = document.getElementById('ext7timer_error')
        const successParent = document.getElementById('ext7timer_content')
        const buttonRow = document.getElementById('ext7timer_date_picker')
        const weatherRow = document.getElementById('ext7timer_day_content')

        let timezone
        let weatherData
        let parsedWeatherData = {}

        function reconnect() {
            successParent.classList.add('ext7timer_hide')
            errorParent.classList.add('ext7timer_hide')
            preloaderParent.classList.remove('ext7timer_hide')
            retrieveData()
        }

        function changeDate(newDate) {
            let day = newDate.split('.')[0]
            for(let elementIndex in buttonRow.children) {
                let element = buttonRow.children[elementIndex]
                if(element.tagName === 'BUTTON') {
                    element.disabled = element.innerHTML === day
                }
            }
            weatherRow.innerHTML = '';
            console.log(parsedWeatherData)
            console.log(Object.keys(parsedWeatherData[newDate]))
            for(let index in Object.keys(parsedWeatherData[newDate])){
                let hour = Object.keys(parsedWeatherData[newDate])[index]
                let hourData = parsedWeatherData[newDate][hour]
                let hourElement = document.createElement('div')
                hourElement.classList.add('ext7timer_weather_state')

                let timeLabel = document.createElement('div')
                timeLabel.classList.add('ext7timer_weather_label')
                timeLabel.innerText = `${hour}:00`

                hourElement.appendChild(timeLabel)

                let img = document.createElement('div')
                img.classList.add('ext7timer_weather_image')
                img.classList.add(`ext7timer_weather_${hourData.weather}`)

                hourElement.appendChild(img)

                if(hourData.wind10m.speed >= 5) {
                    let imgHighWind = document.createElement('div')
                    imgHighWind.classList.add(`ext7timer_weather_highwind`)
                    img.appendChild(imgHighWind)
                }

                let dataLabel = document.createElement('div')
                dataLabel.classList.add('ext7timer_weather_label')
                dataLabel.innerText = `🌡${hourData.temp2m}°C 💧${hourData.rh2m}`

                hourElement.appendChild(dataLabel)

                weatherRow.appendChild(hourElement)
            }
        }

        function generateDateButtons() {
            buttonRow.innerHTML = '';
            for(let index in Object.keys(parsedWeatherData)){
                let weatherDate = Object.keys(parsedWeatherData)[index]
                let button = document.createElement('button')
                button.classList.add('ext7timer_button')
                button.innerText = weatherDate.split('.')[0]
                button.addEventListener('click', () => {
                    changeDate(weatherDate)
                })
                buttonRow.appendChild(button)
            }
            changeDate(Object.keys(parsedWeatherData)[0])
        }

        function parseWeatherData() {
            let timepoint = 0
            let hour = timezone.dstOffset
            let date = new Date(
                weatherData.init.substring(0,4),
                weatherData.init.substring(5,6),
                weatherData.init.substring(7,8),
                hour
            )
            let dateString = `${date.getDate()}.${date.getMonth()}.${date.getFullYear()}`

            let end = false

            while (end === false) {
                timepoint = timepoint + 3
                timepointData = parseWeatherTimePoint(timepoint)
                if(typeof (timepointData) === 'undefined') {
                    end = true
                    generateDateButtons()
                    return
                }
                date.setHours(date.getHours() + 3)
                dateString = `${date.getDate()}.${date.getMonth()}.${date.getFullYear()}`
                if(!Object.keys(parsedWeatherData).includes(dateString)) {
                    parsedWeatherData[dateString] = {}
                }
                parsedWeatherData[dateString]
                    [date.getHours()] = timepointData
            }
        }

        function parseWeatherTimePoint(timepoint) {
            for(let index in weatherData.dataseries) {
                let timepointData = weatherData.dataseries[index]
                if(timepointData.timepoint === timepoint) {
                    return timepointData
                }
            }
        }

        function retrieveData() {
            parsedWeatherData = {}
            let failed = false
            $.ajax({
                type: 'GET',
                url: timezoneUrl,
                error: function() {
                    errorParent.classList.remove('ext7timer_hide')
                    preloaderParent.classList.add('ext7timer_hide')
                    failed = true
                },
                success: function(data) {
                    timezone = data
                }
            })
            if(failed) { return }
            $.ajax({
                type: 'GET',
                url: url,
                error: function() {
                    errorParent.classList.remove('ext7timer_hide')
                    preloaderParent.classList.add('ext7timer_hide')
                },
                success: function(data) {
                    successParent.classList.remove('ext7timer_hide')
                    preloaderParent.classList.add('ext7timer_hide')
                    weatherData = JSON.parse(data)
                    parseWeatherData()
                }
            })
        }

        retrieveData()
    </script>
</f:section>
</html>
